@model POS.Models.ProductModel;

@{
    ViewData["Title"] = "Create";
}

<header class="text-center mb-5">
    <h4 class="display-4">Registrar Producto</h4>
</header>

<div class="row justify-content-center">
    <div class="col-md-5">
        <form asp-action="Create" method="post">
            <div class="mb-3">
                <label asp-for="Code" class="form-label">C贸digo</label>
                <input asp-for="Code" class="form-control" placeholder="Ingresa el c贸digo del producto"/>
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Description" class="form-label">Descripci贸n</label>
                <input asp-for="Description" class="form-control" placeholder="Descripci贸n del producto"/>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Price" class="form-label">Precio</label>
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input asp-for="Price" class="form-control" placeholder="0.00" type="number"/>
                </div>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Stock" class="form-label">Stock</label>
                <input asp-for="Stock" class="form-control" placeholder="Cantidad en stock"/>
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>
            <div class="mt-4 d-flex justify-content-center">
                <input type="submit" value="Guardar" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}