@{
    ViewBag.Title = "Canceled Sales";
    Layout = "_Layout";
}

<header class="text-center mb-5">
    <h4 class="display-4">Ventas Canceladas</h4>
</header>

<div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Fecha</th>
            <th>Venta</th>
            <th>Supervisor</th>
            <th style="width: 12%">Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var sale in Model)
        {
            <tr>
                <td>@sale.DateCancelled</td>
                <td>@sale.SaleId</td>
                <td>@sale.SupervisorId</td>
                <td>
                    <!-- mostrar detalles -->
                    <a asp-action="Details" asp-controller="Sale" asp-route-id="@sale.Id" class="btn btn-primary m-1">
                        <i class="fa fa-eye"></i> Details
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
